@import url(../fonts/osans.css);

body{
  background-color: #2d3e50;
  font-family: 'OpenSansSemiboldRegular', sans-serif;
}

button:focus,
input:focus,
optgroup:focus,
select:focus,
textarea:focus{ outline: none !important; }

.wrap{
  width: 90%;
  margin: 0 auto;
}

.band{
  border-top: 1px solid #253342;
  border-bottom: 1px solid #33475c;
}

.hmap-pag{
  text-align: center;
}

/* input "control-hmap" */
.control-hmap{
  color: #ccc;
  background-color: #1e2936;
  border: none;
  border-bottom: 1px solid #3b5169;
  border-right: 1px solid #3b5169;
  border-radius: 5px;
  box-shadow: inset 0px 3px 6px rgba(0,0,0,0.7);
  height: 45px;
  font-size: 16px;
}

.control-hmap:focus{
  text-shadow: 0;
}

/* цвет placeholder */
.control-hmap::-webkit-input-placeholder {color:#3d4c5d;text-overflow:ellipsis;}
.control-hmap::-moz-placeholder          {color:#3d4c5d;text-overflow:ellipsis;}
.control-hmap:-moz-placeholder           {color:#3d4c5d;text-overflow:ellipsis;}
.control-hmap:-ms-input-placeholder      {color:#3d4c5d;text-overflow:ellipsis;}

/*эффект скрытия placeholder */
.control-hmap::-webkit-input-placeholder       {line-height: 20px;  -webkit-transition: line-height 0.5s ease;  transition: line-height 0.5s ease;}
.control-hmap::-moz-placeholder                {line-height: 20px;  transition: line-height 0.5s ease;}
.control-hmap:-moz-placeholder                 {line-height: 20px;  transition: line-height 0.5s ease;}
.control-hmap:-ms-input-placeholder            {line-height: 20px;  transition: line-height 0.5s ease;}
.control-hmap:focus::-webkit-input-placeholder {line-height: 100px; -webkit-transition: line-height 0.5s ease; transition: line-height 0.5s ease;}
.control-hmap:focus::-moz-placeholder          {line-height: 100px; transition: line-height 0.5s ease;}
.control-hmap:focus:-moz-placeholder           {line-height: 100px; transition: line-height 0.5s ease;}
.control-hmap:focus:-ms-input-placeholder      {line-height: 100px; transition: line-height 0.5s ease;}
/* input "control-hmap" */

/* button btn-red */
.btn-red{
  border-top: 1px solid #ff7566;
  border-left: 1px solid #ff7566;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.7);
  background: #e74b3c;
  color: #fff;
  padding: 10px 20px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e74b3c), color-stop(100%,#e34133));
  background: -webkit-linear-gradient(top,  #e74b3c 0%,#e34133 100%);
  background: -webkit-linear-gradient(top, #e74b3c 0%, #e34133 100%);
  background: linear-gradient(to bottom,  #e74b3c 0%,#e34133 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e74b3c', endColorstr='#e34133',GradientType=0 );
}
.btn-red:hover{
  border-top: 1px solid #e35344;
  border-left: 1px solid #e35344;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#BF3729), color-stop(100%,#D4392B));
  background: -webkit-linear-gradient(top,  #BF3729 0%,#D4392B 100%);
  background: -webkit-linear-gradient(top, #BF3729 0%, #D4392B 100%);
  background: linear-gradient(to bottom,  #BF3729 0%,#D4392B 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BF3729', endColorstr='#D4392B',GradientType=0 );
}
.btn-red:focus{
  border-top: 1px solid #e35344;
  border-left: 1px solid #e35344;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D4392B), color-stop(100%,#BF3729));
  background: -webkit-linear-gradient(top,  #D4392B 0%,#BF3729 100%);
  background: -webkit-linear-gradient(top, #D4392B 0%, #BF3729 100%);
  background: linear-gradient(to bottom,  #D4392B 0%,#BF3729 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D4392B', endColorstr='#BF3729',GradientType=0 );
}
/* button btn-red */

/* menu */
#menu{
  border-top: 1px solid #404c5f;
  box-shadow: 0px 3px 6px 0px #131313;
  height: 50px;
  margin-bottom: 10px;
  background: #262d38;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#262d38), color-stop(50%,#232a34), color-stop(100%,#20262f), color-stop(100%,#20262f));
  background: -webkit-linear-gradient(top,  #262d38 0%,#232a34 50%,#20262f 100%,#20262f 100%);
  background: -webkit-linear-gradient(top, #262d38 0%, #232a34 50%, #20262f 100%, #20262f 100%);
  background: linear-gradient(to bottom,  #262d38 0%,#232a34 50%,#20262f 100%,#20262f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262d38', endColorstr='#20262f',GradientType=0 );

}
#menu ul{
  list-style: none;
  margin: 0 0 0 130px;
  padding: 0;
}
#menu li{
  display: inline-block;
  padding: 0 20px 0 0;
}
#menu a{
  color: #ccc;
  text-transform: uppercase;
  font-family: 'OpenSansBold', sans-serif;
  font-size: 17px;
  line-height: 50px
}
#menu a:hover{
  text-decoration: none;
  color: #78cb75;
}
/* menu */

/* params */
#params .btn-red{
  text-transform: uppercase;
}
.params-check{
  margin: 5px;
}

.checkbox{
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}
.checkbox + label{
  cursor: pointer;
}
.checkbox:not(checked){
  position: absolute;
  opacity: 0;
}
.checkbox:not(checked) + label{
  position: relative;
  padding: 0 0 0 60px;
}
.checkbox:not(checked) + label:before{
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #1E2836;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
  border-bottom: 1px solid #2C3E50;
}
.checkbox:not(checked) + label:after{
  content: '';
  position: absolute;
  top: -1px;
  left: 5px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #E54638;
  border-top: 1px solid #FC7C6D;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  -webkit-transition: all .2s;
  transition: all .2s;
}
.checkbox:checked + label:after{
  border-top: 1px solid #5FFEA2;
  background: #29C86A;
}
.checkbox:checked + label:after{
  left: 26px;
}
/* params */

/* band inform */
#band-inform{
  padding: 5px;
}
.band-inform-found{
  color: #fff;
  font-size: 12px;
  display: inline-block;
}

.band-inform-display{
  float: right;
}
.band-inform-display span{
  color: #1e2936;
  cursor: pointer;
  font-size: 22px;
  margin: 0 0 0 3px;
}
.band-inform-display span:hover{
  color: #d4d5d4;
}
.band-inform-active{
  color: #d4d5d4 !important;
}
/* band inform */

/* post */
.post{
  padding: 10px;
}
.post-img{
  position: relative;
  float: left;
  width: 216px;
  height: 170px;
}
.post-img-border{
  background: url(../img/border-img-post.png) no-repeat;
  position: relative;
  width: 216px;
  height: 170px;
}
.post-img-border img{
  width: 165px;
  height: 126px;
  border-radius: 4px;
  position: relative;
  top: 22px;
  left: 22px;
}
.post-rating{
  background: #ca4c3f;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ca4c3f), color-stop(100%,#b53328));
  background: -webkit-linear-gradient(top,  #ca4c3f 0%,#b53328 100%);
  background: -webkit-linear-gradient(top, #ca4c3f 0%, #b53328 100%);
  background: linear-gradient(to bottom,  #ca4c3f 0%,#b53328 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca4c3f', endColorstr='#b53328',GradientType=0 );

  box-shadow: 0px 1px 4px rgba(0,0,0,0.7);
  border-radius: 50px;
  color: #ecf0f1;
  line-height: 24px;
  font-size: 11px;
  text-align: right;
  padding-right: 10px;
  position: absolute;
  right: -20px;
  top: 73px;
  height: 24px;
  width: 60px;
}
.post-content{
  margin-left: 250px;
}
.post-title{
  color: #78cb75;
  margin: 0 0 10px 0;
  font: 24px bold 'OpenSansBold' sans-serif;
}
.post-title a{
  color: #78cb75;
  -webkit-transition: .5s;
  transition: .5s;
}
.post-title a:hover{
  color: #18b212;
  text-decoration: none;
}
.post-desc{
  color: #fff;
  margin: 0;
  font-size: 13px;
  overflow-wrap: break-word;
}

.post-button{
  text-align: right;
}
.post-button a{
  color: #D4D5D4;
  background-color: #273545;
  border-radius: 3px;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.post-button a:hover{
  color: #2D3E50;
  background-color: #ECF0F1;
  text-decoration: none;
}
/* post */

/* ui slider */
.irs {
  height: 55px;
}
.irs-with-grid {
  height: 70px;
}
.irs-line {
  height: 8px;
  top: 33px;
  background: #263546;
  background: -webkit-linear-gradient(top, #22303E -50%, #263546 150%);
  background: linear-gradient(to bottom, #22303E -50%, #263546 150%);
  border-bottom: 1px solid #3D5068;
  border-right: 1px solid #3D5068;
  border-radius: 16px;
  -moz-border-radius: 16px;
}
.irs-line-left {
  height: 8px;
}
.irs-line-mid {
  height: 8px;
}
.irs-line-right {
  height: 8px;
}

.irs-bar {
  height: 8px; top: 33px;
  border-top: 1px solid #244E3E;
  border-bottom: 1px solid #395168;
  background: #27CC70;
}
.irs-bar-edge {
  height: 10px; top: 33px;
  width: 14px;
  border: 1px solid #428bca;
  border-right: 0;
  background: #428bca;
  background: -webkit-linear-gradient(bottom, rgba(66,139,202,1) 0%, rgba(127,195,232,1) 100%);
  background: linear-gradient(to top, rgba(66,139,202,1) 0%,rgba(127,195,232,1) 100%);
  border-radius: 16px 0 0 16px;
  -moz-border-radius: 16px 0 0 16px;
}

.irs-shadow {
  height: 2px; top: 38px;
  background: #000;
  opacity: 0.3;
  border-radius: 5px;
  -moz-border-radius: 5px;
}
.lt-ie9 .irs-shadow {
  filter: alpha(opacity=30);
}

.irs-slider {
  top: 27px;
  width: 20px;
  height: 20px;
  border-top: 1px solid #2D3E50;
  border-left: 1px solid #293645;
  background: #1A2631;
  background: -webkit-linear-gradient(top, rgba(28,40,51,1) 0%, rgba(27,39,50,1) 20%, rgba(22,34,46,1) 100%);
  background: linear-gradient(to bottom, rgba(28,40,51,1) 0%,rgba(27,39,50,1) 20%,rgba(22,34,46,1) 100%);
  border-radius: 27px;
  -moz-border-radius: 27px;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.6);
  cursor: pointer;
}

.irs-slider.state_hover, .irs-slider:hover {
  background: #16222E;
  cursor: pointer;
}

.irs-min, .irs-max {
  color: #2D3E50;
  font-size: 12px; line-height: 1.333;
  text-shadow: none;
  top: 0;
  padding: 1px 5px;
  background: rgba(0,0,0,0.2);
  border-radius: 3px;
  -moz-border-radius: 3px;
}

.lt-ie9 .irs-min, .lt-ie9 .irs-max {
  background: #ccc;
}

.irs-from, .irs-to, .irs-single {
  color: #192530;
  font-size: 14px; line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  background: #27CC70;
  border-radius: 3px;
  -moz-border-radius: 3px;
}
.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single {
  background: #999;
}

.irs-grid {
  height: 27px;
}
.irs-grid-pol {
  opacity: 0.5;
  background: #428bca;
}
.irs-grid-pol.small {
  background: #999;
}

.irs-grid-text {
  bottom: 5px;
  color: #99a4ac;
}

.irs-disabled {
}
/* ui slider */